# --- Environnements Virtuels ---
env/
venv/
.env
anaconda3/
.conda/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# --- Modèles  ---
# On ignore tout le contenu des dossiers models...
cellpose-sam/models/*
vista2d/models/*
# sauf le fichier .gitkeep pour forcer Git à garder la structure
!cellpose-sam/models/.gitkeep
!vista2d/models/.gitkeep

*.pt
*.pth

# --- Datasets (Données brutes et converties) ---
cytoDArk0/
cytoDArk_split/
puma_data/
puma_data_converted/
puma_masks_visual/

# --- Sorties, Résultats et Évaluations ---
resultat_serveur.png
resultats_comparaison_v0/



# --- Images de Debug et Tests locaux ---
# On ignore les TIF générés en sortie et les images de debug
*.tif
*debug*.png
*resultat*.png
images/teeeeest.png

# --- OS spécifiques  ---
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# --- IDE (VS Code, PyCharm) ---
.vscode/
.idea/

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Autres scripts/fichiers locaux ignorés ---
common/affiche_image.py
cellpose-sam_ancien_results.csv